:root {
  --bg: #f5f7fb;
  --border-bottom: #dbdef0;
  --selected-button: #d6dbf5;
  --button-border: #4d5b9e;
  --button-text-color: #293264;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

div.container {
  position: relative;
  min-height: 100vh;
}

img.upper-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

img.lower-img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* ----------Initial Page Container---------- */
div.init-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.init-page-container h1 {
  color: var(--button-text-color);
  margin: 0;
  font-size: 40px;
}

div.init-page-container p {
  color: var(--button-text-color);
  margin-top: 25px;
  font-size: 20px;
  font-weight: 100;
}

div.init-page-container button.start-button {
  font-size: 30px;
  padding: 15px 60px;
  font-size: 20px;
  margin-top: 10px;
}

/* ----------Data Container---------- */

div.data-container {
  max-width: 90%;
  margin: auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----------Buttons---------- */

.button {
  background-color: var(--button-border);
  color: white;
  border: none;
  border-radius: 12px;
}

/* Check Answer Button */

button.check-button {
  margin-top: 30px;
  padding: 11px 30px;
  font-size: 15px;
}

/* Try gain Button */

button.try-again-button {
  margin-top: 10px;
  padding: 11px 30px;
  font-size: 15px;
}

/* ----------Score Section---------- */

div.score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Score text */
p.score-text {
  margin-top: 20px;
}

/* ----------Questions Component---------- */

div.question {
  border-bottom: 1px solid var(--border-bottom);
  padding: 10px 0 13px 0;
}

div.answers {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

p.question-text {
  color: var(--button-text-color);
  font-weight: 550;
  font-size: 16px;
  line-height: 19px;
}
/* ----------Answers Component---------- */

button.answer {
  border: 1px solid var(--button-border);
  border-radius: 12px;
  padding: 7px 15px;
  color: var(--button-text-color);
  font-size: 12px;
  background-color: #ffffff00;
}
