:root {
  --bg: #f5f7fb;
  --border-bottom: #dbdef0;
  --selected-button: #d6dbf5;
  --button-border: #4d5b9e;
  --button-text-color: #293264;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg);
  font-family: "Karla", sans-serif;
}
/* Main Container */

main.main-container {
  width: 70vw;
  height: 80vh;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Check Answer Button */

button.check-button {
  background-color: var(--button-border);
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 18px;
  font-size: 15px;
  margin-top: 30px;
}

/* Questions Component*/
div.question {
  border-bottom: 1px solid var(--border-bottom);
  padding: 10px 0 13px 0;
}

div.answers {
  display: flex;
  gap: 20px;
}

p.question-text {
  color: var(--button-text-color);
  font-weight: 550;
  font-size: 16px;
  line-height: 19px;
}

/* Answers Component*/
button.answer {
  border: 1px solid var(--button-border);
  border-radius: 12px;
  padding: 7px 15px;
  color: var(--button-text-color);
  font-size: 12px;
}
